body{
    direction: rtl;
}

.content{
    width: 1000px;
    border: 1px solid #9A9A9A;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.first-form{
    border: 1px solid #EEEE;
    border-radius: 10px;
    margin: 20px;
    padding: 40px;
  
}
span{
   color: rgb(250, 63, 50);
}

 .addNumber{
    color: aliceblue;
    font-size:medium;
    background-color:rgb(250, 63, 50) ;
    border-radius: 100px;
    margin: 5px;
    padding-right: 3px;
    padding-left: 3px;
 }

 .intro{
   display: inline-block;
 }


 
 select{
    width:150px ;
    border-radius: 8px;
    padding: 10px;
    margin-right: 150px;
 }


 .add{
    border: none;
    background-color: white;
    font-size: large;
    margin-right: 900px;
 }

 svg{
    margin-left: 5px;
    color: rgb(45, 163, 96);
 }
 .btn{
    margin-right: 35%;
 }

 
 .btn{
    width: 150px;
    margin: 5px;
    padding: 10px;
    border: none;
    background-color:rgb(45, 163, 96) ;
    color: aliceblue;
    border-radius: 5px;
    margin-right: 600px;
 }

 .pre-btn{
    width: 150px;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(45, 163, 96);
    background-color:aliceblue ;
    color: rgb(45, 163, 96) ;
    border-radius: 5px;
 }
